@charset "utf-8";
@import url(./common/reset.css);
@import url(./common/header.css);
@import url(./common/footer.css);


.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .section{
  flex: 0 1 1000px;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.container .section .gallery{
  width: 800%;
  height: inherit;
  box-sizing: border-box;
  position: absolute;
}
.container .section .gallery ul{
  height: inherit;
  display: flex;
  justify-content: space-between;
}
.container .section .gallery ul>li{
  flex: 1;
  height: inherit;
  box-sizing: border-box;
}

.container .section .center-btn{
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top:50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}
.container .section .center-btn span{
  width:30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.397);
  box-sizing: border-box;
}
.container .section .center-btn span:hover{
  background-color: #fff;
}